
.container-fluid {
  background-color: #fffffff3;
  
}
.container-fluid .abs  {
  color: rgb(255, 255, 255);
  
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.836);
}

